body{
    background-color: #e4e2dd;
    flex-wrap: wrap;
    align-content: center;
}
#main{
    background-color:#e4e2dd;

}
#logoImg{
    width: 550px;
}

#searchForm{
    height: 3vh;
}

#searchType{
    width: 5vw;
    height: fit-content;
}

#loadPageImg{
    position: absolute;
    left: 38%;
    margin-top: 2%;
    width: 400px;
}

#leafImg{
    position: absolute;
    right: 8vw;
    width: 20vw;
    margin-top: 10%;
    margin-left: 30%;

}
#loadPageImg2{
    position: absolute;
    top: 4.3vh;
    right: 10vw;
    width: 337px;
    height: auto;
}

#productsList{
    background-color:white;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.productInfoCard{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0px;
}

#productName{
    font-weight: bold;
    font-size: larger;
}

#productRating{
    width: 10vw;
    height: auto;
}

