body{
    background-color: rgb(196, 196, 245);
    flex-wrap: wrap;
    align-content: center;
}
#productsList{
    background-color:blanchedalmond;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.productInfoCard{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0px;

}

#productRating{
    width: 50px;
    height: auto;
}